@import '../../styles/colors';
@import '../../styles/variables';

.main-section {
    float: left;
    width: $mainWidth;
    height: $bodyHeight;
    padding: 10px 20px 5px 0;
    border-right: 2px solid $light-grey;
    overflow: hidden;
}