@import '../../styles/colors';
@import '../../styles/variables';

.general-block {
    width: 100%;

    .title {
        font-size: 35px;
        line-height: 0.8;
        margin-bottom: 8px;
        color: $thin-dark-blue;
    }
}