@import '../../styles/colors';

$header-size: 16px;
$company-logo-size: 60px;
$company-logo-bg-size: $company-logo-size;
$shadow-diag: 2px;
$shadow-blur: 8px;

.default {
    display: inline-block;
}

.header-default {
    composes: default;
    width: $header-size;
    height: $header-size;
    background-size: $header-size;

    //centering and spacing
    position: relative;
    top: 3px;
    margin-right: 5px;
}

.company-default {
    composes: default;
    width: $company-logo-size;
    height: $company-logo-size;
    background-size: $company-logo-bg-size;
    //-webkit-box-shadow: $shadow-diag $shadow-diag $shadow-blur $black;
    //-moz-box-shadow: $shadow-diag $shadow-diag $shadow-blur $black;
    //box-shadow: $shadow-diag $shadow-diag $shadow-blur $black;
}

.website {
    composes: header-default;
    background-image: url('../../../rsrc/icons/website.png');
}

.email {
    composes: header-default;
    background-image: url('../../../rsrc/icons/email.png');
}

.github {
    composes: header-default;
    background-image: url('../../../rsrc/icons/github.png');
}

.linkedin {
    composes: header-default;
    background-image: url('../../../rsrc/icons/linkedin.png');
}

.phone {
    composes: header-default;
    background-image: url('../../../rsrc/icons/phone.png');
}

.yahoo {
    composes: company-default;
    background-image: url('../../../rsrc/icons/yahoo.png');
    border-radius: 10px;
}

.rave {
    composes: company-default;
    background-image: url('../../../rsrc/icons/rave.png');
    border-radius: 10px;
}

.martello {
    composes: company-default;
    background-image: url('../../../rsrc/icons/martello.jpeg');
    background-size: $company-logo-bg-size;
    -webkit-box-shadow: 0 0 0 $black;
    -moz-box-shadow: 0 0 0 $black;
    box-shadow: 0 0 0 $black;
}

.linkedin-colored {
    composes: company-default;
    background-image: url('../../../rsrc/icons/linkedin-company.png');
    border-radius: 10px;
}

.microsoft {
    composes: company-default;
    background-image: url('../../../rsrc/icons/microsoft.jpg');
}

.nakina {
    composes: company-default;
    background-image: url('../../../rsrc/icons/nakina.png');
    border-radius: 10px;
}