@import '../../styles/colors';
@import '../../styles/variables';

.projects-block {
    display: block;
    width: 100%;
    margin-bottom: 16px;

    .header {

        .title {
            float: left;
            line-height: 0.8;
            font-size: 23px;
        }

        .time {
            float: right;
            font-size: 18px;
            line-height: 1.4;
        }
    }

    .tech {
        font-size: 16px;
        color: $grey;
    }

    .content {
        margin-top: 6px;
        padding-left: 20px;
        font-size: 17px;
    }
}