@import '../../styles/colors';
@import '../../styles/variables';

.header {
    width: 100%;
    height: $headerHeight;
    border-bottom: 2px solid $grey;
    overflow: hidden;

    .main-desc {
        float: left;

        .name {
            font-size: 70px;
            margin-bottom: 10px;
        }

        .term {
            font-size: 20px;
        }
    }

    .contact-links {
        float: right;

        >a {
            display: block;
            margin-bottom: 10px;
        }
    }
}